@TagName("counter-display")

<div class="well well-sm">
    Current count is: <span class="badge badge-success">@currentCount</span>
    <button @onclick(resetCounterCallback)>Reset</button>
</div>

@functions {

    [FromAttribute("current-count")]
    private int currentCount { get; set; }  //works with properties

    [FromAttribute("on-reset")]
    private Action resetCounterCallback;    //and fields
}