@TagName("counter-display")

<div class="well well-sm">
    Current count is: <span class="badge badge-success">@currentCount</span>
    <button @onclick(resetCounterCallback)>Reset</button>
</div>

@functions {

    [FromAttribute("current-count")]
    private int currentCount { get; set; }

    [FromAttribute("on-reset")]
    private Action resetCounterCallback { get; set; }
}