@section Scripts {
    <br />
    <h6>This is from RenderSection.</h6>
}

<h1>Hello, world!</h1>
<p>Welcome to your new single-page application.</p>

<button @onclick(() => NavigationHelper("/Counter"))>Navigate to Counter</button>

@{
    Context.Items["hello"] = "This shows BlazorContext is persistent across pages.";
}