@using System.Reflection
@section Scripts {
    <br />
    <h6>This is from RenderSection. </h6>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}

<h1>Hello, world!</h1>
<p>Welcome to your new single-page application.</p>

<button @onclick(() => NavigationHelper("/Counter"))>Navigate to Counter</button>

@* This shows an error at dev time but will work at runtime #hacky *@
<button @onclick(() => Blazor.Runtime.Interop.JavaScript.Window["alert"].Invoke(Browser.jQuery.trim("              This content should not have any spaces surrounding it.                     ")))>Log jquery time</button>

@{
    Context.Items["hello"] = "This shows BlazorContext is persistent across pages.";
}
