@page 
@model Hello

<form>
    <input type="text" @bind(Model.AnotherProp) />
    <p>
        Validation Summary:
        @{ 
            @ValidationSummary
        }
    </p>
    <button @onclick(() => Validate())>Validate</button>
</form>
