@page
@model WelcomeModel

<h2>Welcome @User.Identity.Name</h2>
<p>
    Register as an atendee to get access to cool features.
</p>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Attendee.UserName" value="@User.Identity.Name" type="hidden" />
    <div class="form-group">
        <label asp-for="Attendee.FirstName" class="control-label"></label>
        <div class="row">
            <div class="col-md-6">
                <input asp-for="Attendee.FirstName" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="Attendee.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Attendee.LastName" class="control-label"></label>
        <div class="row">
            <div class="col-md-6">
                <input asp-for="Attendee.LastName" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="Attendee.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Attendee.EmailAddress" class="control-label"></label>
        <div class="row">
            <div class="col-md-6">
                <input asp-for="Attendee.EmailAddress" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="Attendee.EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}